[data-a11y-dialog-native] > :first-child {
  display: none;
}

dialog[open] {
  display: block;
}

dialog {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.dialog-container[aria-hidden="true"] {
  display: none;
}

.dialog-backdrop {
  background: black;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.dialog-content {
  background: transparent;
  color: white;
  margin: auto;
  margin-top: 10%;
  position: relative;
  text-align: center;
  width: 350px;
}

.dialog-close {
  color: white;
  font-size: 3rem;
  position: fixed;
  right: 20px;
}

.dialog-title {
  margin: 0;
  text-align: center;
}

#search-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid $red;
  color: white;
  font-size: 2rem;
  margin: 20px 0 10px;
  opacity: 0.6;
  transition: opacity 300ms ease-in-out;

  &:focus {
    opacity: 1;
  }
}

#results-container {
  position: absolute;
  padding: 0;
  list-style-type: none;
  text-align: left;

  li {
    margin-bottom: 20px;
  }
}
