.related_posts {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.related_post {
  width: 20%;

  .title {
    margin: 10px 0;
    font-size: 1rem;
  }
}
