<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead">
          <div class="site-info">
            <{% if page.home %}h1{% else %}p{% endif %} class="site-name">
              <a href="{{ site.baseurl }}/">{{ site.name }}</a>
            </{% if page.home %}h1{% else %}p{% endif %}>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav class="mainnav">
            <button class="a" type="button" title="sidebar" class="mainnav-subscribe" data-a11y-dialog-show="subscribe-dialog"><i class="fas fa-bars"></i></button>
            <button class="a" type="button" title="search" data-a11y-dialog-show="search-dialog"><i class="fas fa-search"></i></button>
            <a href="mailto:thibault.beyer@gmail.com?subject=Hi%20Thibault,%20I%20like%20what%20you%20do%20and%20want%20to%20talk%20to%20you%20about…" title="contact"><i class="far fa-envelope"></i></a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include search-dialog.html %}
    {% include subscribe-dialog.html %}
    {% include analytics.html %}
 
  </body>
</html>
